<% if flash["alert"].present? %>
  <div class="color">
    <% flash["alert"].each do |value| %>
      <%= content_tag(:div, value) %>
    <% end %>
  </div>
<% end %>

<%= form_with model: @task, local: true do |form| %>
  <p>
    タイトル<br>
      <%= form.text_field :title %>
  </p>
  <p>
    内容<br>
      <%= form.text_area :body %>
  </p>
  <p><%= form.submit %></p>
<% end %>
