<h1>タスク登録_new</h1>
<% if flash["alert"].present? %>
  <% flash["alert"].each do |value| %>
    <%= content_tag(:div, value)%>
  <% end %>
<%end%>

<%= form_with model: @task, local: true do |form| %>
    <p>
      タイトル<br>
      <%= form.text_field :title %>
    </p>

    <p>
      内容<br>
      <%= form.text_area :body %>
    </p>

    <%= form.submit "登録" %>
<% end %>
