<h1>タスク詳細</h1>
<p>
  <b>【タイトル】<br>
    <%= @task.title %></b>
</p>

<p>
  <b>【内容】<br>
    <%= @task.body %></b>
</p>
<p>
  <%= link_to "編集", edit_task_path(@task) %>
  <%= link_to "削除", task_path(@task), method: :delete %>
  <%= link_to "戻る", tasks_path(@task) %>
</p>
